body{
    background: url('./pexels-moose-photos-1037992.jpg'); 
    width: 100%;
background-size: cover;
background-attachment: fixed;
background-position: center;
  }
  .card{
    width:30% ;
  }
 
  .swatch {
display: flex;
text-align: center;
justify-content: center;
gap: 10px;
  }
  .swatch div {
    width:100px;
    height: 200px;
    border-radius: 5px;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    backface-visibility: hidden;
    transform: rotate(15deg);
    color: white;
    font-size: 20px;
  }
  .swatch div:hover{
    animation: swatch .5s linear;
    cursor: pointer;
  }
  @keyframes swatch{
    0%{
      transform: rotate(15deg);
    }
    25%{
      transform: rotate(180deg);
    }
    50%{
      transform: rotate(260deg);
    }
    75%{
      transform: rotate(320deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .swatch div:nth-child(1) {
    background-color: #815A8F;
  }
  .swatch div:nth-child(2) {
    background-color: #6730EC;

  }
  .swatch div:nth-child(3) {
    background-color: #9ED763;
  }
  .swatch div:nth-child(4) {
    background-color: #FBD400;
  
  }
  .swatch div:nth-child(5) {
    background-color: #FF9000;
  }
  .swatch div:nth-child(6) {
    background-color: #F73F52;
  }
  #a1{
    color: #000000;
  }
  
 @media screen and (max-width: 650px){
  
  .container-1{
      flex-direction: column;
      gap: 10px;
    }
    .card{
      width: 80%;
    }
    .swatch{
      flex-direction: column;
      align-items: center;
    }
    .swatch div {
      margin-top: 1rem;
      width:200px;
      height: 100px;
    }
}